.content-container {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    width: 960px;
}

.main-footer {
    color: #555;
    font-size: 14px;
    line-height: 1.28571em;
    padding-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 36px;
}

.main-footer_menu::before, .main-footer_menu::after {
    content: " ";
    display: table;
}
.main-footer_menu::after {
    clear: both;
}
.main-footer_menu::before, .main-footer_menu::after {
    content: " ";
    display: table;
}
.main-footer_menu {
    margin-bottom: 36px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
}

.main-footer_item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    width: 33%;
}
.footer-menu_header, .ytype h3.footer-menu_header {
    margin-bottom: 12px;
}
.ytype h3, .ytype .h3 {
    font-size: 16px;
    line-height: 1.3125em;
}
.footer-menu_item {
    margin-bottom: 6px;
}

.main-footer_city-landscape-img {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("//s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/e41bc8917803/assets/img/structural/happy_footer.png");
    background-origin: padding-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 211px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

.main-footer_copyright {
    font-size: 12px;
    line-height: 1;
    margin-top: 18px;
    text-align: center;
}

.main-footer_logo-copyright, .main-footer_logo-burst {
    vertical-align: bottom;
}
.main-footer_logo-copyright {
    margin-bottom: -2px;
}

.main-footer_logo-copyright, .main-footer_logo-burst {
    vertical-align: bottom;
}