.layout-block::before, .layout-block::after {
    content: " ";
    display: table;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.layout-block::after {
    clear: both;
}
.layout-block::before, .layout-block::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.layout-block {
    width:1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-color: #240766;
    border-style: solid;
    border-width: 3px;%;
}
.layout-a .column-alpha {
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    border-color: #336633;
    border-style: solid;
    border-width: .1px;%;
}
.myReview{
    height:auto;
    width:562px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-color: #336633;
    border-style: solid;
    border-width: 3px;%;
}
.myReview h2{
    font-size: 20px;
    line-height: 1.28571em;
    color: #240766;
    margin-bottom: 6px;
    font: bold;
}

.myReview .myReview-content {
    display: inline-block;
    position: relative;
}

.myReview .review-widget {
    width: 538px;
}
.review-widget--decorated {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #477547;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #477547;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top-color: #477547;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 12px;
}
.review-widget {
    position: relative;
}

.star-rating-widget {
    float: left;
    vertical-align: middle;
}
.inline-block {
    display: inline-block;
}

.star-rating-widget legend {
    margin-top: -9999px !important;
    text-indent: -99999px;
}
.offscreen {
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    left: -9999px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.js .star-rating-widget .stars-0 {
    background-position: 0 0;
}
.js .star-rating-widget ul {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0,0,0,0);
    background-image: url("/../ReviewSite/image/star.ico");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
}
.star-rating-widget ul {
    height: 30px;
}
ol, ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.js .star-rating-widget li {
    float: left;
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 3px;
    width: 30px;
}


.js .star-rating-widget li input {
    -moz-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    height: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 30px;
}
.star-rating-widget input[name="rating"] {
    -moz-appearance: none;
    cursor: pointer;
}

.myReview .auto-save {
    display: none;
    float: right;
    margin-top: 8px;
}

small {
    font-size: 12px;
    line-height: 1.5em;
}

.pseudoLink {
    color: #3b65a7;
    cursor: pointer;
}



.review-widget .review-textbox  {
    border-bottom-color: #999;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #999;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #999;
    border-top-color: #999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
.review-widget--decorated .review-textbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-bottom-color: #ccccc8;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ccccc8;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ccccc8;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #ccccc8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    display: block;
    margin-top: 9px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: border;
    transition-timing-function: ease;
}


.review-widget--decorated .review-textbox textarea {
    display: block;
    height: 36px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.review-widget--decorated .review-textbox textarea, .review-widget--decorated .review-textbox .hidden-text-measurer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 9px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 9px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: transparent;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 9px;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 9px;
    box-sizing: border-box;
    color: #999;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease;
    width: 100%;
}
.review-widget .review-textarea {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: none;
}

.review-widget .hidden-text-measurer {
    display: none;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.myReview .myReview-content .review-widget .post-review-actions {
    display: block;
}
.myReview .post-review-actions {
    display: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}
.yform {
    margin-bottom: 18px;
}
.pull-left {
    float: left;
}

.UFICommentStickerButton{
    cursor:pointer;
    display: inline-block;
    outline-style:none;
    outline-width: 0px;
}

._5vsj .UFICommentStickerIcon {
    margin:9px 10px;
}

.UFICommentStickerIcon{
    background-image:url(../image/smile_sticker.png);
    background-repeat:no-repeat;
    background-size:auto;
    height:16px;
    margin:5px 6px 5px 4px;
    width:16px
}

.myReview .action-buttons {
    display: none;
    float: right;
}

.myReview .action-buttons .cancel {
    margin-right: 10px;
}
a {
    color: #3b65a7;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.ybtn-small {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    line-height: 1.5em;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
}
.ybtn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(white, #eee);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.2);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.2);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.05) inset, 0 -1px 1px white inset;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.28571em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    text-align: center;
    vertical-align: middle;
}
.ytype {
    color: #333;
    font-size: 14px;
    line-height: 1.28571em;
}
button, input, optgroup, select, textarea {
    -x-system-font: none;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant-alternates: inherit;
    font-variant-caps: inherit;
    font-variant-east-asian: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-position: inherit;
    font-weight: normal;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.myReview .post-review-actions .saving-msg {
    float: right;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 10px;
}
.topRest {
    line-height:30px;
    background-color: bisque;
    height:300px;
    width:380px;
    display: inline-block;
    vertical-align: top;
}
.layout-a .column-beta {
    box-sizing: border-box;
    float: right;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 0px;
    width: 39.5%;
    border-color: #336633;
    border-style: solid;
    border-width: .1px;%;
}


.topReviewers{
    height:320px;
    width:99%;
    position: relative;
    display: inline-block;
    border-color: #c8c8c8;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 30px;
}

.topReviewers .tr_title {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #e4e4e5;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #cfcfcf;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #413f3c;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    line-height: 29px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 0;
    position: relative;
}

.topReviewers .more {
    color: #666;
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 0;
}

.topReviewers div.tr_body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
}

.user_item {
    display: inline-block;
    margin-bottom: 3px;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    vertical-align: top;
    width: 88%;
}

.tr_body a {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

div.clear::after {
    clear: both !important;
    content: "." !important;
    display: block !important;
    height: 0 !important;
    visibility: hidden !important;
}
.clear {
    clear: both;
    float: none !important;
}

.user_item p {
    font-size: 10px;
}

.user_item img {
    padding-top: 4px;
}

<!--recent review activity-->
.layout-border .ysection {
    margin-bottom: 30px;
}
.arrange--12 {
    margin-left: -6px;
    margin-right: -6px;
}
.arrange {
    display: table;
    min-width: 100%;
    table-layout: auto;
}

.arrange--12 > .arrange_unit {
    padding-left: 6px;
    padding-right: 6px;
}
.arrange--baseline > .arrange_unit {
    vertical-align: baseline;
}
.arrange_unit--fill {
    width: 100%;
}
.arrange_unit {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
}
.ytype h2, .ytype .h2 {
    font-size: 21px;
    line-height: 1.28571em;
}
.ytype h2, .ytype .h2, .ytype h3, .ytype .h3 {
    color: #240766;
}
.ytype h1, .ytype .h1, .ytype h2, .ytype .h2, .ytype h3, .ytype .h3, .ytype h4, .ytype .h4 {
    margin-bottom: 6px;
}
h2, .h2 {
    font-size: 16px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    color: #240766;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
b, strong, h1, h2, h3, h4, h5 {
    font-weight: bold;
}
#activity-feed .feeds {
    position: relative;
}
#activity-feed .ylist-bordered {
    border-top-color: #e5e5e1;
    border-top-style: solid;
    border-top-width: 1px;
}
.ylist-bordered > li {
    border-bottom-color: #e5e5e1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
}
.ylist > li {
    margin-bottom: 12px;
}
.media-block {
    display: flex;
    position: relative;
}
.media-block--12 > .media-avatar {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: transparent;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 12px;
}
.media-block > .media-avatar {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: transparent;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 6px;
}


.photo-box .photo-box-img {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
img {
    vertical-align: middle;
}

#activity-feed .review-block .item-title, #activity-feed .biz_photo-block .item-title, #activity-feed .user_photo-block .item-title, #activity-feed .event-block .item-title, #activity-feed .event_subscription-block .item-title {
    margin-bottom: 12px;
}
#activity-feed .item-title {
    display: table;
    margin-bottom: 6px;
}

#activity-feed .title-text {
    display: table-cell;
    width: 100%;
}
.media-title a {
    font-weight: bold;
}

#activity-feed .title-text b {
    font-weight: normal;
}

#activity-feed .item-title .biz-name {
    font-weight: normal;
}
#activity-feed .time-stamp {
    display: table-cell;
    padding-left: 15px;
    text-align: right;
    white-space: nowrap;
}
.time-stamp {
    color: #999;
    font-size: 12px;
    line-height: 1.5em;
}

.photo-box-grid {
    margin-top: 18px;
    transform-style: preserve-3d;
}
.photo-box-grid > li {
    float: left;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 12px;
    margin-top: 0;
    width: auto;
}

.photo-box-grid > li > .photo-box > .photo-box-img {
    max-height: 100%;
    max-width: 100%;
}
.photo-box--interactive {
    position: relative;
}
.photo-box .photo-box-img {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
img {
    vertical-align: middle;
}

.photo-box-overlay {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    line-height: 1.5em;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    position: absolute;
    right: 0;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.photo-box-overlay_caption {
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 6px;
    padding-top: 3px;
}

.photo-box .biz-shim {
    background-color: white;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.media-story{
    margin-left: 10px;
}

.biz-rating-very-large {
    margin-bottom: 12px;
}

.biz-rating-very-large .rating-very-large {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 6px;
    margin-top: -3px;
}
.rating-very-large {
    height: 22px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 126px;
}

.rating-very-large .stars_4 {
    background-position: -3px -689px;
}
.star-img {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("//s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c2252a4cd43e/assets/img/stars/stars_map.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 100%;
    width: 100%;
}
.rating-qualifier {
    color: #555;
    display: block;
    float: left;
    font-weight: normal;
}
p {
    margin-bottom: 12px;
}
.voting-feedback {
    color: #555;
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 12px;
}

.voting-feedback .voting-intro {
    font-weight: bold;
    margin-bottom: 6px;
    white-space: nowrap;
}


.voting-feedback .vote-item {
    margin-right: 6px;
}

.voting-buttons .ybtn {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 6px;
    padding-top: 2px;
    white-space: nowrap;
}
a.ybtn {
    text-decoration-color: -moz-use-text-color !important;
    text-decoration-line: none !important;
    text-decoration-style: solid !important;
}

.i-ufc-useful-common-wrap {
    line-height: 24px;
    padding-left: 28px;
}
.ig-wrap-common {
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    position: relative;
}

.ig-wrap-common .ig-common {
    display: block;
    left: 0;
    position: absolute;
}
.i-ufc-useful-common {
    background-position: -4px -7024px;
    height: 24px;
    width: 24px;
}
.ig-common {
    background-image: url("/assets/2/www/img/9befdcd63207/sprites/common.png");
    background-position: -999px -999px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    top: 0;
    width: 16px;
}
.voting-feedback .vote-type {
    font-weight: bold;
    margin-right: 3px;
}
.voting-feedback .count {
    font-weight: normal;
}
.link-bar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f5f5f1;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 9px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9px;
    text-align: center;
}

.link-bar .loading-msg {
    display: block;
}


<!--top restaurants-->
.table_large {
        display: inline-block;
        margin-bottom: 4px;
        position: relative;
        z-index: 0;
}
.table_new {
    border-bottom-color: #c8c8c8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top-color: #c8c8c8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    display: inline-block;
    margin-bottom: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 99%;
    margin-bottom: 30px;
}

.table_large .title {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #e4e4e5;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #cfcfcf;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #413f3c;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    line-height: 29px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
}

.table_large div.body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
}

.horizontal_list_table thead {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #8c8c8c;
    font-size: 11px;
}

.horizontal_list_table thead tr th {
    border-bottom-color: #dfdfdf;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: normal;
    padding-bottom: 4px;
    vertical-align: top;
}

.horizontal_list_table a {
    color: #ff7101;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
}
.sort_up {
    background-position: right top;
}
.sort_up, .sort_down {
    background-image: url("../images/arrow_sort.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 7px;
    position: relative;
    text-indent: -9999px;
    top: -1px;
    vertical-align: middle;
    width: 9px;
}
body a {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

#module_place_list_tr {
    border-bottom-color: #dfdfdf;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
tbody tr {
    text-align: left;
}

.horizontal_list_table tr td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
.horizontal_list_table td {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.module_place_list_wrap {
    display: inline-block;
    font-size: 10px;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    text-align: left;
    width: 155px;
}

.module_place_list_wrap3 {
    font-size: 11px;
    width: 110px;
}
.place_ratings {
    text-align: left;
}

.jRatingColor {
    background-color: #f4c239;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    z-index: 2;
}

.jRatingAverage {
    background-color: #f62929;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    z-index: 2;
}

.jStar {
    left: 0;
    position: relative;
    z-index: 3;
}


.num_review_box {
    font-size: 11px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    text-align: left;
}


.num_review_box span {
    font-size: 11px;
}

<!--upcomingEvnets>
.upcomingEvents {
    border-bottom-color: #c8c8c8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top-color: #c8c8c8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    display: inline-block;
    margin-bottom: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 99%;
}

.upcomingEvents .title {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #e4e4e5;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #cfcfcf;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #413f3c;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    line-height: 29px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
}

._4cbb {
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    position: relative;
}

._a19::before {
    background-color: #5890ff;
    border-bottom-color: #5890ff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #5890ff;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 1px;
    content: "";
    left: -12px;
    position: absolute;
    top: 1px;
    width: 2px;
}

._1qdc::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.15);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.15);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: rgba(0, 0, 0, 0.15);
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
._1qdc {
    background-color: #f6f7f8;
    margin-right: 12px;
    position: relative;
}
._ohe {
    float: left;
}

._mxp._mxq::before {
    background-image: url("/rsrc.php/v2/ya/r/cqDftWSRGCP.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
    z-index: 1;
}
._mxq {
    display: block;
}
.uiScaledImageContainer {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.uiScaledImageContainer .scaledImageFitWidth {
    height: auto;
    width: 100%;
}
.uiScaledImageContainer img {
    height: 100%;
    min-height: 100%;
    position: relative;
}
._mxp ._18im {
    left: 12px;
    position: absolute;
    top: 12px;
    z-index: 2;
}
._18im {
    font-family: "helvetica neue",helvetica,arial,"lucida grande",sans-serif;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    top: 0;
}

._mxp ._mxs ._38le, ._mxp ._mxs ._38lf {
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
._mxp ._38le {
    color: #9197a3;
    font-size: 10px;
    font-weight: 600;
}
._38le {
    color: #b3544d;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
}

._mxp ._mxs ._38le, ._mxp ._mxs ._38lf {
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
._mxp ._38lf {
    color: #9197a3;
    font-size: 18px;
    font-weight: 600;
}
._38lf {
    color: #4e5665;
    font-size: 26px;
    font-weight: 200;
    margin-bottom: -6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
}

._42ef {
    overflow-x: hidden;
    overflow-y: hidden;
}
._3ydv {
    height: 76px;
}
._1qdd, ._1qdd a {
    color: #3b5998;
    font-family: "helvetica neue",helvetica,arial,"lucida grande",sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 2px;
}
._1qdd, ._1qdf, ._aqu, ._5p0a, ._5p0b {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
}
._1qdd, ._1qdd a {
    color: #3b5998;
    font-family: "helvetica neue",helvetica,arial,"lucida grande",sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 2px;
}
._5p0a._4cbc {
    color: #5890ff;
}
._5p0a {
    color: #4e5665;
    font-weight: normal;
}
._5p0a, ._5p0b, ._5p0b a, ._aqu, ._aqu a, ._1qdf, ._1qdf a {
    font-family: "helvetica neue",helvetica,arial,"lucida grande",sans-serif;
    font-size: 12px;
    line-height: 16px;
}


