.content-container{
    padding-top: 0;
    line-height: 200%;
    text-shadow: 0 1px rgba(255,255,255,0.7);
    color: #333;
    /*margin: 0 0 6px;*/
    vertical-align: baseline;
}
.details{

}
.name{
    font-weight: bold;
    font-size: 36px;
}
.review-container-title{
    font-weight: bold;
    font-size: 26px;
    color: #8b0000;
}

.review-title{
    font-weight: bold;
    font-size: 26px;
}

.image-gallery img {
    max-width: 100%;
    /*display: inline-block;*/
}

/*@media (min-width: 420px) {
    .image-gallery img {
        max-width: 48%;
    }
}

@media (min-width: 760px) {
    .image-gallery img {
        max-width: 24%;
    }
}*/

.image-gallery img:hover{
    transform:scale(1.2);
}


