body::before {
    z-index: 10000;
}
.ytype {
    color: #333;
    font-size: 14px;
    line-height: 1.28571em;
}
body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f5f5f1;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
body {
    -x-system-font: none;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: normal;
    line-height: 1.2;
}

.main-content-wrap--box {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.main-content-wrap {
    min-width: 1020px;
}

#super-container {
    min-height: 720px;
}
.main-content-wrap--box > .content-container {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix {
}
.signup-wrapper {
    box-sizing: border-box;
    float: left;
    margin-top: 6px;
    min-height: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    width: 50%;
}
.signup-wrapper {
    margin-bottom: 33px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 33px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.signup-flow {
    min-height: 720px;
    width: 10000px;
}
.signup-flow {
    text-align: center;
}
.signup-flow > *::before, .signup-flow > *::after {
    content: " ";
    display: table;
}
.signup-flow > *::after {
    clear: both;
}
.signup-flow > *::before, .signup-flow > *::after {
    content: " ";
    display: table;
}
.flow-start, .facebook, .login {
    margin-left: 25.5px;
}
.signup-flow > * {
    width: 382px;
}
.signup-visible {
    display: block;
}
.signup-flow > * {
    display: none;
}
.signup-flow > * {
    float: left;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
    width: 990px;
}
.embossed-box {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: none;
    padding-bottom: 0;
}
.embossed-box {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-align: center;
    width: 300px;
}
.flow-start .header {
    margin-bottom: 30px;
}
.ytype h2 {
    font-size: 22px;
}
.ytype h2, .ytype .h2 {
    font-size: 21px;
    line-height: 1.28571em;
}
.ytype h2, .ytype .h2, .ytype h3, .ytype .h3 {
    color: #c41200;
}
.ytype h1, .ytype .h1, .ytype h2, .ytype .h2, .ytype h3, .ytype .h3, .ytype h4, .ytype .h4 {
    margin-bottom: 6px;
}
h2, .h2 {
    font-size: 16px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    color: #c41200;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
b, strong, h1, h2, h3, h4, h5 {
    font-weight: bold;
}
.signup-form-container p.subheading {
    font-weight: bold;
}
.signup-flow label, .signup-flow p {
    color: #555;
}
p {
    margin-bottom: 12px;
}

.flow-start .fb-button {
    margin-bottom: 6px;
    width: 100%;
}
.fb-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(#3b5997, #294683);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #2b3b6f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #2b3b6f;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #2b3b6f;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #2b3b6f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33) inset;
    color: white;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}
.flow-start .fb-button .logo {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/assets/2/www/img/7a5fd76062e6/fb/f_logo_shadow_46.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 46px 46px;
    width: 46px;
}
.fb-button .logo {
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #2b3b6f;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    bottom: 0;
    cursor: pointer;
    float: left;
    position: absolute;
    top: 0;
    width: 56px;
}
.flow-start .fb-button .text {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    width: 254px;
}
.fb-button .text {
    cursor: pointer;
    float: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    text-align: center;
    text-shadow: 0 1px 0 #152341;
    width: 244px;
}
.legal-copy {
    color: #555;
    font-size: 12px;
    line-height: 1.5em;
}

.hr-line {
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
}
.hr-line {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: #ccccc8;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12px;
    text-align: center;
}
.hr-line legend {
    color: #555;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}
.signup-form-container form {
    text-align: left;
}
.yform {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.yform {
    margin-bottom: 18px;
}
button, input, optgroup, select, textarea {
    -x-system-font: none;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant-alternates: inherit;
    font-variant-caps: inherit;
    font-variant-east-asian: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-position: inherit;
    font-weight: normal;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.inline-layout {
    display: block;
    font-size: 0;
    line-height: 1;
    margin-bottom: -3px;
    margin-left: -3px;
    margin-right: -3px;
    margin-top: -3px;
    text-align: left;
}
ol, ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.flow-start form li {
    margin-bottom: 0;
}
.inline-layout > li {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    line-height: 1.28571em;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
    vertical-align: top;
    width: 50%;
}
.yform .placeholder-sub {
    color: #999;
    display: none;
    font-weight: normal;
}
.signup-flow label, .signup-flow p {
    color: #555;
}
.yform label, .yform legend {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.yform input[type="text"], .yform input[type="email"], .yform select {
    margin-bottom: 9px;
}
.yform [type="text"], .yform [type="password"], .yform [type="email"], .yform [type="url"], .yform textarea, .yform select, .yform .pseudo-input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(250, 250, 249, 0.9);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #bbb;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #bbb;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #bbb;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #bbb;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.28571em;
    margin-bottom: 18px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
}
.js .more-fields {
    display: none;
}
.yform.city-hidden .city-placeholder-sub, .yform.city-hidden input[name="city"] {
    display: none;
}

.yform input.init-non-focused[type="text"], .yform input.init-non-focused[type="email"], .yform select.init-non-focused {
    color: #999;
}
.flow-start .country {
    display: none;
}
.yform select {
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
}

.yform .help-block, .yform .help-inline {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;
}
.yform fieldset {
    margin-bottom: 6px;
}
.yform fieldset {
    margin-bottom: 18px;
}
.inline-layout {
    display: block;
    font-size: 0;
    line-height: 1;
    margin-bottom: -3px;
    margin-left: -3px;
    margin-right: -3px;
    margin-top: -3px;
    text-align: left;
}

.inline-layout.up-3 > li {
    width: 33.3333%;
}
.flow-start form li {
    margin-bottom: 0;
}
.inline-layout > li {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    line-height: 1.28571em;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
    vertical-align: top;
    width: 50%;
}
.flow-start .captcha {
    display: block;
}

a {
    color: #3b65a7;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.flow-start .submit {
    cursor: pointer;
    width: 100%;
}
.ybtn-primary {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ea050b;
    background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #a50508;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #a50508;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #a50508;
    border-top-color: #a50508;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: white;
    text-shadow: 0 -1px 0 #760400;
}
.ybtn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(white, #eee);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.2);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.2);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(0, 0, 0, 0.05) inset, 0 -1px 1px white inset;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.28571em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    text-align: center;
    vertical-align: middle;
}
.ytype {
    color: #333;
    font-size: 14px;
    line-height: 1.28571em;
}
.sub-text-box {
    width: 300px;
}
.sub-text-box {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    text-align: right;
}
.subtle-text {
    color: #999;
    font-weight: normal;
}
small {
    font-size: 12px;
    line-height: 1.5em;
}
.sub-text-box a {
    cursor: pointer;
}
.picture-container {
    box-sizing: border-box;
    float: left;
    margin-top: 117px;
    min-height: 1px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    width: 50%;
}
.picture-container img {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 30px;
    width: 382px;
}
img {
    vertical-align: middle;
}